name: Test checkov

on:
  workflow_dispatch:

jobs:
  terraform-security-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Checkov security scan
        uses: bridgecrewio/checkov-action@v12.1347.0
        with:
          framework: terraform
          output_format: cli
          quiet: true
          soft_fail: false
