name: Test checkov

on:
  workflow_dispatch:

jobs:
  terraform-security-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Checkov security scan
        uses: bridgecrewio/checkov-action@v12.1347.0
        with:
          framework: terraform
          output_format: cli
          quiet: true
          soft_fail: false
